<launch>

   <!-- 使用真实时间而非仿真时间-->
  <param name="/use_sim_time" value="false"/>

  <!-- 加载地图参数-->
  <rosparam command="load" file="$(find forklift_map)/config/map_param.yaml" />
  <!-- 加载规划参数-->
  <rosparam command="load" file="$(find forklift_planner)/config/planner_param.yaml" />


  <!-- 启动地图节点-->
  <node pkg="forklift_map" type="map_node" name="forklift_map" output="screen" />

  <!-- 启动多车协调调度节点 pkg为功能包 type为可执行程序名 name为节点名称-->
  <node pkg="forklift_planner"
        type="multi_vehicle_patrol_node"
        name="multi_vehicle_patrol_node"
        output="screen" />

  <!-- 启动rviz节点-->
  <!-- 直接加载rviz配置文件 required="false表示rviz关闭，其他节点也继续运行-->
  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find forklift_map)/config/forklift.rviz"
        required="false">
    <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>
    <env name="QT_X11_NO_MITSHM" value="1"/>
  </node>
</launch>
