<launch>
  <!-- RViz single-vehicle A1-cycle patrol simulation. -->

  <arg name="vehicle_count" default="1"/>
  <arg name="start_slot" default="17"/>
  <arg name="target_slot" default="24"/>
  <arg name="one_shot" default="true"/>
  <arg name="use_a1_cycle" default="true"/>
  <arg name="precompute_task_filter" default="false"/>
  <arg name="a1_cycle_catalog_file" default="$(find forklift_planner)/config/a1_cycle_path_catalog.yaml"/>
  <arg name="save_a1_cycle_catalog" default="true"/>
  <arg name="show_paths" default="true"/>

  <param name="/use_sim_time" value="false"/>

  <rosparam command="load" file="$(find forklift_map)/config/map_param.yaml" />
  <rosparam command="load" file="$(find forklift_planner)/config/planner_param.yaml" />

  <!-- In A1-cycle mode a B->B task is generated as B->A1->B. -->
  <param name="/forklift_planner/multi_vehicle/vehicle_count" value="$(arg vehicle_count)"/>
  <param name="/forklift_planner/multi_vehicle/show_paths" value="$(arg show_paths)"/>
  <param name="/forklift_planner/multi_vehicle/simple_forward_demo" value="false"/>
  <param name="/forklift_planner/multi_vehicle/use_a1_cycle" value="$(arg use_a1_cycle)"/>
  <param name="/forklift_planner/multi_vehicle/precompute_task_filter" value="$(arg precompute_task_filter)"/>
  <param name="/forklift_planner/multi_vehicle/a1_cycle_catalog_file" value="$(arg a1_cycle_catalog_file)"/>
  <param name="/forklift_planner/multi_vehicle/save_a1_cycle_catalog" value="$(arg save_a1_cycle_catalog)"/>
  <rosparam param="/forklift_planner/multi_vehicle/start_slots">[$(arg start_slot)]</rosparam>
  <rosparam param="/forklift_planner/multi_vehicle/target_slots">[$(arg target_slot)]</rosparam>
  <param name="/forklift_planner/multi_vehicle/real_mode" value="false"/>

  <node pkg="forklift_map" type="map_node" name="forklift_map" output="screen" />

  <node pkg="forklift_planner"
        type="multi_vehicle_patrol_node"
        name="multi_vehicle_patrol_node"
        output="screen">
    <param name="target_only" value="-1"/>
    <!-- false means: after reaching one target and dwelling, assign the next reachable target. -->
    <param name="one_shot" value="$(arg one_shot)"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find forklift_map)/config/forklift.rviz"
        required="false">
    <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>
    <env name="QT_X11_NO_MITSHM" value="1"/>
  </node>
</launch>
